<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Rn.EncryptionService.Salt" value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16" />
    <add key="Rn.EncryptionService.ServerPass" value="5CAB567E407949C4A1FFE5BA19B7068A7AB4AC832CC343B99F96FB7FB4FEAE40E2ECC124282347A8966584B0D79C79C0" />
  </appSettings>
</configuration>