<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Rn.EncryptionService.ServerPass" value="4DB347FC15F24A958DE759E7BE604EB7012DC9F715954C17BB23E679C3F3BB3EC3D50920F9BB42E9A618EEA3298E8CAF" />
    <add key="Rn.Mailer.Encryption.Salt" value="E:\WRK\_data_\rn.mailer\encryption-salt.txt" />
  </appSettings>
</configuration>